
#displayArea{
	height: 100vh;
	width: 100vw;
}
.header{
	color: blue;
	font-weight: bold;
}
.message {
	color: green;
}
.error{
	color: black;
	background-color: red;
}

/* modal test css */

#modalShadow{
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: black;
	opacity: .4;
}
#modalBody{
	position: fixed;
	left: 50%;
	top: 50%;
	min-height: 30vmin;
	min-width: 30vmin;
	transform: translate(-50%, -50%);
	background-color: white;
	display: flex;
}
#modalMessage{
	margin: auto auto;
}
/* input test css */
.inputError{
	color: red;
	position: absolute;
}
.inputContainer{
	margin: 10px 0;
}
#colorSquareArea{
	display: flex;
	justify-content: space-around;
}
.colorSquare{
	height: 20vmin;
	width: 20vmin;
	border: 1px solid black;
}

